<% include partials/header%>
<h1>
Name: <%= post.name %>
</h1>
<p>Description: <%= post.description %></p>
<img class="img-fluid img-thumbnail" src="<%= post.image %>">
<% include partials/footer%>.
<a href="/posts">go back </a>

